* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ededed;
    font-family: 'Times New Roman', Times, serif;
}

#wrapper {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding: 5px;
}

#heading{
    width: 100%;
    font-size: 150%;
}

#navigation{
    width: 100%;
    font-size: 100%;
}

nav ul {
    background-color: #f1f1f1;
}

#navigation ul li {
    display: block;
    padding: 2px 20px;
    list-style-type: none;
}

#navigation ul li ul {
    display: block;
    padding: 2px 20px;
    list-style-type: none;
}

#navigation a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #555;
    color: white;
}

#british_menu{
    width: 100%;
    font-size: 150%;
}

#british_menu dl{
    padding: 10px 20px;
    font-size: 100%;
    list-style-type: none;
}

#british_menu dd{
    padding: 0px 20px;
    font-size: 70%;
    font-style: italic;
}

#chinese_menu {
    width: 100%;
    font-size: 150%;
    
}
#chinese_menu   li {
    padding: 2px;
    list-style-type: none;
}

#columns {
    display: flex;
    flex-direction: row;
}

.column {
    padding: 10px;
    margin: 20px;
}
